@model IEnumerable<OnLineShop.Models.tb_actions>
@using OnLineShop.Models;
@{
    ViewBag.Title = "عربة التسوق";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<section class="main-content col-lg-9 col-md-9 col-sm-9">


    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading no-margin">
                <h4>معلومات الشحن والدفع الخاصة بك</h4>
            </div>

            <div class="page-content">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                            @{
                                OnlineShopDBEntities db = new OnlineShopDBEntities();
                                var UserName = User.Identity.Name;
                                var CurrentUser = db.tb_Users.Where(a => a.username == UserName).SingleOrDefault();
                                var CurrentUserBill = db.tb_billinfo.Where(a => a.user_id == CurrentUser.id).SingleOrDefault();

                                if (CurrentUserBill != null)
                                {
                                    <strong>الدفع لـ</strong>
                                    <table class="orderinfo-table">
                                        <tbody>
                                            <tr>
                                                <th>الإسم كامل</th>
                                                <td>@CurrentUserBill.fullname</td>
                                            </tr>
                                            <tr>
                                                <th>البريد الإلكتروني</th>
                                                <td>@CurrentUserBill.email</td>
                                            </tr>

                                            <tr>
                                                <th>إسم الشركة</th>
                                                <td>@CurrentUserBill.company_name</td>
                                            </tr>

                                            <tr>
                                                <th>الدولة</th>
                                                <td>@CurrentUserBill.country</td>
                                            </tr>

                                            <tr>
                                                <th>المحافظة</th>
                                                <td>@CurrentUserBill.city</td>
                                            </tr>

                                            <tr>
                                                <th>المنطقة</th>
                                                <td>@CurrentUserBill.region</td>
                                            </tr>

                                            <tr>
                                                <th>العنوان</th>
                                                <td>@CurrentUserBill.address</td>
                                            </tr>

                                            <tr>
                                                <th>رقم الهاتف</th>
                                                <td>@CurrentUserBill.phone</td>
                                            </tr>

                                            <tr>
                                                <th>الرمز البريدي</th>
                                                <td>@CurrentUserBill.postal_code</td>
                                            </tr>

                                        </tbody>
                                       
                                    </table>
                                    @Html.ActionLink("تعديل طريقة الدفع", "EditBill/" + @CurrentUserBill.id, null, new { @class = "button" })
                                    
                                }
                                else
                                {
                                    <p>
                                        لا توجد طريقة دفع خاصة بك برجاء الضغط علي زر " إضافة طريقة الدفع " لإنشاء طريقة لكي تستخدمها في إكمال الشراء
                                    </p>
                                    @Html.ActionLink("إضافة طريقة الدفع", "AddBillInfo", null, new { @class = "button" })

                                }
                            }
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        @{
                            
                            var CurrentUserShip = db.tb_ship.Where(a => a.user_id == CurrentUser.id).SingleOrDefault();

                            if (CurrentUserShip != null)
                            {
                                <strong>الشحن لـ</strong>
                                    <table class="orderinfo-table">
                                        <tbody>
                                            <tr>
                                                <th>الإسم كامل</th>
                                                <td>@CurrentUserShip.fullname</td>
                                            </tr>
                                            <tr>
                                                <th>إسم الشركة</th>
                                                <td>@CurrentUserShip.company_name</td>
                                            </tr>

                                            <tr>
                                                <th>الدولة</th>
                                                <td>@CurrentUserShip.country</td>
                                            </tr>

                                            <tr>
                                                <th>المحافظة</th>
                                                <td>@CurrentUserShip.city</td>
                                            </tr>

                                            <tr>
                                                <th>المنطقة</th>
                                                <td>@CurrentUserShip.region</td>
                                            </tr>

                                            <tr>
                                                <th>العنوان</th>
                                                <td>@CurrentUserShip.address</td>
                                            </tr>

                                            <tr>
                                                <th>رقم الهاتف</th>
                                                <td>@CurrentUserShip.phone</td>
                                            </tr>

                                            <tr>
                                                <th>الرمز البريدي</th>
                                                <td>@CurrentUserShip.postal_code</td>
                                            </tr>

                                        </tbody>

                                    </table>
                                    @Html.ActionLink("تعديل طريقة الشحن", "EditShip/" + @CurrentUserShip.id, null, new { @class = "button" })

                            }
                            else
                            {
                                <p>
                                    لا توجد طريقة شحن خاصة بك برجاء الضغط علي زر " إضافة طريقة الشحن " لإنشاء طريقة لكي تستخدمها في إكمال الشراء
                                </p>
                                    @Html.ActionLink("إضافة طريقة الشحن", "AddBillInfo", null, new { @class = "button" })

                            }
                        }
                        
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row">


        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>Shopping Cart</h4>
            </div>

            <table class="shopping-table">

                <tbody>
                    <tr>
                        <th colspan="2">إسم وصورة المنتج</th>
                        <th>السعر</th>
                        <th>الكمية</th>
                        <th>الإجمالي</th>
                        <th>حذف</th>
                    </tr>
@foreach (var item in Model)
{

                    <tr>
                        <td class="image-column">
                            <a href="/product/@Html.DisplayFor(modelItem => item.tb_products.id)">
                                <img src="~/uploads/@Html.DisplayFor(modelItem => item.tb_products.image)" alt="@Html.DisplayFor(modelItem => item.tb_products.title)" class="thumbnail"  style="width:120px; height:120px">
                            </a>
                        </td>
                        <td>
                            <h5><a href="/product/@Html.DisplayFor(modelItem => item.tb_products.id)">@Html.DisplayFor(modelItem => item.tb_products.title)</a></h5>
                           
                        </td>
                        <td><p>@Html.DisplayFor(modelItem => item.tb_products.price)</p></td>
                        <td>
                            @using (Html.BeginForm("EditCartQuantity", "Account", FormMethod.Post, new { id = item.id }))
                            {
                                <input type="hidden" name="id" value="@item.id" />
                                <select name="quantity" id="quantity">
                                    <option value="@item.quantity" selected="selected">@item.quantity</option>
                                     @for (int i = 1; i <= @item.tb_products.quantity; i++)
                                     {
                                         if (item.quantity != i)
                                         {
                                            <option value="@i">@i</option>
                                         }
                                     }
                                </select>
                                <p>
                                    <a href="Javascript:document.getElementById(@item.id).submit()">
                                        <span class="add-to-cart">
                                            <span class="action-wrapper">
                                                <i class="icons icon-basket-2"></i>
                                                <span class="action-name">تحديث</span>
                                            </span>
                                        </span>
                                    </a>
                                </p>
                            }
                        </td>

                        <td>
                            <p>
                                @{ var total = item.quantity * item.tb_products.price;}
                                @total.ToString()
                            </p>
                        </td>
                        <td>
                            <a href="/Account/DeleteProductCat/@Html.DisplayFor(modelItem => item.id)">
                                <span class="add-to-trash">
                                    <span class="action-wrapper">
                                        <i class="icons icon-trash-8"></i>
                                        <span class="action-name">حذف</span>
                                    </span>
                                </span>
                            </a>
                        </td>
                    </tr>
                                    }

                </tbody>
            </table>

        </div>

    </div>



    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="checkout-form">
                @{ 
                    decimal totalPrice = 0;
                    var ActionDetails = db.tb_actions.Where(a => a.user_id == CurrentUser.id && a.type_action == "Cart").ToList();
                    foreach (var item in ActionDetails)
                    {

                        decimal toPrice = (decimal)(item.quantity * item.tb_products.price);

                        totalPrice = totalPrice + toPrice;
                    }
                }
                <table>
                    <tbody>
                        <tr>
                            
                            <td><span class="price">الإجمالي: @totalPrice جنيها مصريا</span></td>
                        </tr>
                    </tbody>
                </table>
                
               <br><br>
@using (Html.BeginForm("Checkout", "Account", FormMethod.Post))
{

    <input type="hidden" name="ship_id" value="@CurrentUserShip.id" />
    <input type="hidden" name="bill_id" value="@CurrentUserBill.id" />
    <input type="hidden" name="user_id" value="@CurrentUserBill.user_id" />

                <input type="submit" class="red huge" value="تأكيد عملية الشراء">
}
            </div>

        </div>

    </div>
                    

</section>

 <!--Partial Aside-->
@Html.Partial("_account")
<!--Partial Aside-->