@model IEnumerable<OnLineShop.Models.tb_Users>

@{
    ViewBag.Title = "المستخدمين";
    Layout = "~/Views/Shared/_ControlPanalLayout.cshtml";
}


<section class="main-content col-lg-12 col-md-12 col-sm-12">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 register-account">
            <table class="table table-stripped table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.fullname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.type)
                    </th>
                    <th>تعديل - حذف</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.ActionLink("تعديل", "EditUser", new { id = item.id }) |
                            @Html.ActionLink("حذف", "DeleteUser", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>